h1 {
  color: white;
  position: relative;
  z-index: 10;
  display: inline;
  font-size: 3em;
  margin-left: 5%;
}

.logout {
  float: right;
  position: relative;
  z-index: 11;
  display: inline;
  margin-right: 5%;
  background: none;
  font-size: 1em;
  border: none;
}

form {
  position: relative;
  z-index: 12;
}

.body {
  display: flex;
  justify-content: space-around;  
}

h2 {
  position: relative;
  z-index: 10;
  color: white;
  font-weight: 300;
}

h4 {
  position: relative;
  z-index: 10;
  color: white;
  font-weight: 300;
}

header {
  margin-top: 4%;
  margin-bottom: 4%;
  position: relative;
}

select {
  background-color: #F5A623;
  padding: 2% 5%;
  /*-webkit-appearance: none;*/
  font-size: 1em;
  color: white;
}

input {
  font-size: 1em;
  margin: 0 2%;
}

.add {
  margin-top: 10%;
}
